* {
    font-family: sans-serif;
}
body {
    margin: 0;
    padding: 0;
    background: #22222a;
    color: #ddd;
}
.header, .footer {
    width: 100%;
    background-color: #555;
    display: flex;
    padding: 0;
    margin: 0;
    border: none;
    justify-content: center;
    align-items: center;
    border-bottom: solid 3px rgb(90, 92, 181);
}
.logo {
    flex: 1;
    justify-content: center;
    text-align: center;
    /* height: 100%; */
    display: block;
}
.logo a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    height: 100%;
    display: block;
}
.logo img {
    /* width: auto; */
    height: 60px;
    margin-right: 20px;
}
.footer {
    padding: 30px 0px;
}

.header form {
    margin: 0;
}

.logo {
    float: left;
    flex: 1;
    text-align: center;
    justify-content: center;
}

.button-list li {
    float: left;
    flex: 1;
    text-align: center;
}
.button-list a, .header-button {
    margin: 0px;
    height: 100%;
    width: 100%;
    padding: 25px 0px;
    display: block;
    text-decoration: none;
    color: #ddd;
    line-height: 20px;
}

.button-list a:visited {
    color: #ddd;
}

.main-content {
    padding: 70px;
}

.main-content a {
    color: #ddd;
}

.centered {
    justify-content: center;
    text-align: center;
}

input[type=submit],input[type=email] {
    border-radius: 0;
    background-color: #22222a;
    color: white;
    padding: 10px;
    font-size: 20px;
    border: solid 2px #444;
}
input[type=submit]:hover,input[type=submit]:hover {
    cursor: pointer;
    border-radius: 0;
    background-color: #444;
    color: #ddd;
    padding: 10px;
    font-size: 20px;
    border: solid 2px #444;
    transition: all .5s;
}
.full-width {
    width: 100%;
}
.flexer {
    display: flex;
}
.one-third {
    flex: 1 0 33%;
    margin-right: 20px;
}
.one-third:last-child {
    margin-right: 0;
}

input[type=text], input[type=password], input[type=search], input[type=file], input[type=number], textarea.form-control {
    border-radius: 0;
    background-color: #22222a;
    color: #ddd;
    padding: 10px;
    font-size: 20px;
    border: solid 2px #444;
}
input[type=text]:disabled, input[type=password]:disabled {
    color: #aaa;
    cursor: not-allowed;
}
#user-info input {
    margin-bottom: 20px;
}

#navbarNav .active {
    background-color: rgb(90, 92, 181);
}

.hidden {
    display: none;
}

.error-message {
    font-size: 80%;
    color: #dc3545;
}
/* Bootstrap Overrides */

.modal-content {
    background: #22222a;
    color: #ddd;
}
.modal-content .close {
    color: red;
    text-shadow: none;
}
.form-control:focus {
    color: #ddd;
    background-color: #181818;
    border-color: rgb(90, 92, 181);
    outline: 0;
    box-shadow: none;
}
.btn-secondary, .btn-primary {
    border-radius: 0;
    background-color: #22222a;
    color: #ddd;
    padding: 10px;
    font-size: 20px;
    border: solid 2px #444;
}
.btn-primary, .btn-primary:focus, .btn-primary.form-control {
    background-color: rgb(90, 92, 181);
    border: solid 2px rgb(90, 92, 181);
    box-shadow: none;
    outline: none;
}
.btn-primary:hover, .btn-primary.form-control:hover {
    background-color: rgb(120, 122, 211);
    border: solid 2px rgb(120, 122, 211);
}
.taken {
    border-color: #dc3545 !important;
}
.was-validated input:invalid {
    border-color: #dc3545;
}
.was-validated .form-control:valid {
    border-color: #444;
}
.was-validated .form-control:valid:focus {
    box-shadow: none;
    border-color: #444;
}

.navbar-brand img{
    margin-right: 20px;
}
nav.bg-dark {
    background-color: #555 !important;
    border-bottom: solid 3px rgb(90, 92, 181);
}
.navbar {
    padding: 0 1rem;
    line-height: 50px;
}
@media only screen and (min-width: 991px) {
    .navbar {
      padding-top: 0;
      padding-bottom: 0;
    }
}
.form-inline {
    margin: 0;
    padding: 0 50px !important;
}
.form-inline .input-group {
    margin: 0 !important;
}
.nav-link {
    margin: 0;
    padding: .5rem 50px !important;
}
#navbarNav .nav-item:not(.active):hover {
    color: black;
    background-color: rgb(120, 122, 211);
    transition: all .5s;
    cursor: pointer;
}
#navbarNav button.nav-link {
    border: none;
    background-color: #555;
    width: 100%;
}
#navbarNav button.nav-link:focus {
    outline: none;
}
#navbarNav .navbar-dark .navbar-nav .nav-link {
    color: #ddd;
}
.list-group-item {
    background-color: #32323a;
    border: solid #444 1px;
    -webkit-box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.49); 
    box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.49);
}

.list-group-item:hover, .list-group-item:active, .list-group-item:focus {
    color: #ddd;
    background-color: #36323a;
    border: solid #444 1px;
    -webkit-box-shadow: 5px 5px 15px 5px rgba(120,122,211,0.49); 
    box-shadow: 5px 5px 15px 5px rgba(120,122,211,0.49);
    transition: all .5s;
}

.list-group-item .mb-1 {
    text-align: start;
}

.request-header {
    padding-bottom: 10px;
}

.btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled):active:focus {
    background-color: rgb(71, 73, 148);
    border: solid 2px rgb(71, 73, 148);
    box-shadow: none;
    outline: none;
}
.tab-pane {
    padding-top: 15px;
}

input.form-control:disabled, input.form-control:disabled:hover {
    cursor: not-allowed !important;
    color: #aaa;
    background-color: #181818 !important;
    /* border-color: rgb(90, 92, 181); */
    outline: 0;
    box-shadow: none;
}
.product-item {
    padding: 15px;
}

#global-alert {
    position: fixed;
    bottom: 10;
    right: calc(50% - 200px);
    /* right: 10; */
    width: 400px;
    z-index: 99;
}

.max-100 {
    max-width: 100%;
}

input[type=submit].btn:disabled:hover, input[type=submit].btn:disabled {
    cursor: not-allowed !important;
}